<%- include('../partials/header') %>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <h1 class="text-white"><%= title %></h1>
</head>
<br />
<a href="/lineups/new" type="button" class="btn btn-primary btn-lg"
  >Add New Lineup</a
>

<br />
<br />
<h2 class="text-white">Lineups</h2>
<table class="table table-borderless table-secondary">
  <thead>
    <tr>
      <th scope="col">Lineup Name</th>
      <th scope="col">Map</th>
      <th scope="col">Agent</th>
      <th scope="col">Ability</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% lineups.forEach(function(lineup) { %>
    <tr>
      <td><%= lineup.name %></td>
      <td><%= lineup.map.name %></td>
      <td><%= lineup.agent.name %></td>
      <td><%= lineup.agent.abilities[lineup.agent.abilities.length -1].name %></td>
      <td>
        <a
          href="/lineups/edit/<%= lineup._id %>"
          type="button"
          class="btn btn-secondary"
          >Edit</a
        >
  <form action="/lineups/<%= lineup.id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<br /><br /><br />
<h2 class="text-white">Favorites</h2>
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Lineup Name</th>
      <th scope="col">Map</th>
      <th scope="col">Agent</th>
      <th scope="col">Ability</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">lineup_name</th>
      <td>map_id</td>
      <td>agent_id</td>
      <td>ability_id</td>
      <td>
        <form action="" method="POST">
          <a href="" type="button" class="btn btn-danger"> Delete </a>
        </form>
      </td>
    </tr>
  </tbody>
</table>

<script></script>
<%- include('../partials/footer') %>
