<%- include('../partials/header') %>
  <div class="container-fluid">    
    <% mapGrid.forEach(function(row) { %>
      <div class="maps row justify-content-center">
        <% row.forEach(function(col) { %>
          <div class="map col-10 col-md-3 p-2">
            <form action="/maps/<%= col.name.toLowerCase() %>" method="POST">
              <input name="id" value="<%= col.id %>" type="hidden">
              <button class="map-button" type="submit">
                <img src="<%= col.image %>" class="rounded img-fluid map-img" alt="<%= col.name %>"/>
                <span class="map-name fs-3">
                  <%= col.name %>
                </span>
              </button>
            </form>
            </a>
          </div>
          <% }); %>
      </div>
    <% }); %>
  </div>
  

  <%- include('../partials/footer') %>